.catalog_area {
  width: 100%;
  height: auto;
  padding: 60px 0;
}
.catalog_container {
  margin: 0 auto;
  max-width: var(--max-width-wrapper);
  width: 95%;
  /* background-color: brown; */
  display: grid;
  grid-template-columns: 24% 1fr;
  gap: 20px;
}
.catalog_title {
  margin: 0;
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 30px;
  color: var(--text);
}
.col_second {
  margin-top: 85px;
}
