@use '../../_vars.scss' as *;
.badge_shell {
  border-radius: 100%;
  width: 16px;
  height: 16px;
  padding: 0.02rem;
  display: flex;
  justify-content: center;
  align-items: center;
  p {
    font-family: $font_family;
    font-weight: 400;
    font-size: 0.7rem;
    color: #fff;
  }
}
