.badge_shell {
  border-radius: 100%;
  background-color: var(--accent);
  position: absolute;
  width: 16px;
  height: 16px;
  right: -5px;
  bottom: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.badge_shell span {
  margin: 0;
  text-align: center;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 0.7rem;
  color: #fff;
}
