@use '../../_vars.scss' as *;
.quiz_form {
  display: flex;
  flex-direction: column;
  border-radius: 4px;
}
.quiz_form input {
  height: 15%;
  border: none;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 19px 20px;
}

.order_form_input {
  background: #f6f6f6;
  font-family: $font_family;
  font-weight: 400;
  font-size: 1rem;
  line-height: 140%;
  color: $gray;
}
