.round_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-sizing: border-box;
  cursor: pointer;
  align-self: center;
}
.round_btn:active {
  transform: scale(0.88);
}
.round_btn img {
  /* max-width: 100%; */
  /* height: 100%; */
  width: 23px;
  height: 23px;
}
