.round_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  box-sizing: border-box;
  cursor: pointer;
  align-self: center;
  img {
    width: 23px;
    height: 23px;
  }
}
.round_btn:active {
  transform: scale(0.88);
}
