@use '../../_vars.scss' as *;
.quiz_area {
  width: 100%;
  height: auto;
}
.quiz_container {
  max-width: $max-width-wrapper;
  width: 95%;
  margin: 60px auto;
}
.quiz_card {
  background: $sec-bg;
  padding: 3.75rem 8.48%;
}
.quiz_title_note {
  color: #808080;
  margin: 0;
  margin-top: 20px;
}
.quiz_title_note_small {
  font-weight: 400;
  font-size: 1.12rem;
  color: $small-text;
}
.quiz_sep {
  border-top: 1px solid #808080;
  height: 1px;
  width: 100%;
  margin-top: 10px;
}
.quiz_btn_group {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quiz_form_wrapper {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background: $small-text;
  width: 66%;
  box-sizing: border-box;
}
.quiz_form_title {
  margin: 0;
  font-family: $third-family;
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 140%;
  color: #fff;
}
.quiz_form_wrapper p {
  margin: 0;
  font-family: $font_family;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 140%;
  color: #fff;
}
.quiz_question_counter span {
  color: #808080;
}
@media (max-width: 1180px) {
  .quiz_form_wrapper {
    width: 100%;
    align-items: center;
    padding: 2%;
  }
}
