.basket_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 24px;
  z-index: 110;
}

.basket_wrapper span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  margin-right: 10px;
  align-self: center;
}
.basket_wrapper a {
  position: relative;
}
.basket_wrapper a > img {
  display: block;
  align-self: flex-end;
}
