.team_card_wrapper {
  max-height: 480px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  z-index: 101;
}
.team_img_wrapper {
  height: 80%;
}
.team_img_wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team_name {
  margin: 0;
  font-family: var(--third-family);
  font-weight: 700;
  font-size: 1.5rem;
  color: #fff;
}
.team_card_wrapper p {
  margin: 0;
  color: #fff;
}

@media (max-width: 876px) {
  .team_name {
    font-size: 1.2rem;
  }
  .team_card_wrapper p {
    font-size: 0.9rem;
  }
}
@media (max-width: 710px) {
  .team_name {
    font-size: 1rem;
  }
  .team_card_wrapper p {
    font-size: 0.8rem;
  }
}
@media (max-width: 597px) {
  .team_name {
    font-size: 0.8rem;
  }
  .team_card_wrapper p {
    font-size: 0.5rem;
  }
}
@media (max-width: 465px) {
  .team_name {
    font-size: 0.7rem;
  }
}
