.menu_wrapper {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 65px;
  padding-bottom: 20px;
  background: var(--gray);
  border-radius: 0 0 10px 10px;
  box-sizing: border-box;
  z-index: 102;
}
