@use '../../_vars.scss' as *;
.sneaker_container {
  margin: 0 auto;
  max-width: $max-width-wrapper;
  width: 95%;
  margin-top: 1%;
  padding-top: 43px;
  padding-left: 41px;
  padding-bottom: 63px;
  max-height: 848px;
  height: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr;
  row-gap: 5%;
  background: #fff;
  box-shadow: 2px 4px 10px 0 rgba(0, 13, 84, 0.2);
  box-sizing: border-box;
  z-index: 1111;
  @media (max-width: 1200px) {
    row-gap: 1%;
    padding: 3.7%;
    grid-template-rows: 1fr 0.5fr;
  }
  @media (max-width: 545px) {
    width: 90%;
    max-height: 689px;
  }
}
.sneaker_present {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 95%;
  @media (max-width: 810px) {
    width: 100%;
  }
  @media (max-width: 545px) {
    grid-template-columns: 1fr;
    grid-template-rows: 158px 1fr;
    // grid-template-rows: 2fr 1fr;
  }
}
.sneaker_foto_wrapper {
  width: 100%;
  img {
    max-width: 100%;
    height: auto;
  }
  @media (max-width: 1200px) {
    padding: 0;
    width: 95%;
    display: flex;
    justify-content: center;
  }
  @media (max-width: 810px) {
    height: 80%;
  }
  @media (max-width: 545px) {
    height: 100%;
  }
}
.sneaker_detail_info_wrapper {
  padding-left: 3.9%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  @media (max-width: 1200px) {
    justify-content: space-between;
    padding-top: 1%;
    padding-left: 4.4%;
    padding-right: 3.9%;
  }
  @media (max-width: 848px) {
    padding-left: 0;
    padding-right: 0;
  }
  @media (max-width: 545px) {
    max-height: 200px;
    height: 100%;
    overflow-y: scroll;
  }
}
.sneaker_vendor_stock_wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5%;
  @media (max-width: 577px) {
    flex-direction: column;
    height: 36px;
    .vendor_stock_p {
      height: auto;
    }
  }
}
.vendor_stock_p {
  display: flex;
  height: 100%;
  justify-content: flex-start;
  gap: 10%;
  flex-wrap: nowrap;
  flex-shrink: 0;
  span {
    color: $gray;
    flex-shrink: 0;
  }
}
.sneaker_title {
  font-family: $font_family;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 140%;
  color: $text;
  margin: 0;
  @media (max-width: 810px) {
    font-size: 1.2rem;
  }
}
.stars_wrapper {
  max-width: 116px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  gap: 4px;
}
.star_p {
  background-image: url('../../images/star.svg');
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
}
.sneaker_choosing_size {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 4px;
}
.sneaker_choosing_size h3 {
  margin: 0;
}
.sneaker_choosing_size_wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 23px;
  div {
    border: 1px solid $gray;
    border-radius: 4px;
    max-width: 70px;
    width: 100%;
    height: 32px;
  }
  @media (max-width: 810px) {
    gap: 5px;
    div {
      height: auto;
      label {
        font-size: 0.8rem;
      }
    }
  }
  @media (max-width: 566px) {
    gap: 2%;
    div {
      max-width: 50px;
    }
  }
}
.active_size {
  background-color: $gray;
}
[id^='csize-'] {
  display: none;
}

[id^='csize-'] + label {
  margin: 0 auto;
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  font-family: $font_family;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: $text;
  cursor: pointer;
}
.sneaker_price_wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 23px;
  align-items: center;
}
.sneaker_new_price {
  font-family: $third-family;
  font-weight: 700;
  font-size: 1.88rem;
  color: $text;
  @media (max-width: 810px) {
    font-size: 1.5rem;
  }
}

.sneaker_stock_wrapper {
  display: flex;
  flex-direction: column;
}
.sneaker_stock_p {
  font-family: $font_family;
  font-weight: 400;
  font-size: 0.88rem;
  color: $gray;
  vertical-align: middle;
  display: flex;
  align-items: center;
  @media (max-width: 810px) {
    font-size: 0.6rem;
  }
}
.sneaker_stock_p:before {
  content: url('../../images/jack.svg');
  margin-right: 10px;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
}
.sneaker_description_wrapper {
  display: grid;
  // width: 100%;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 4.4%;
  padding-right: 3.9%;
  @media (max-width: 1200px) {
    padding: 0;
  }
  @media (max-width: 848px) {
    padding-left: 0;
    padding-right: 0;
  }
  @media (max-width: 545px) {
    grid-template-columns: 1fr;
    row-gap: 2%;
  }
}
.sneaker_desctiption_title {
  font-family: $font_family;
  font-weight: 400;
  font-size: 1.5rem;
  color: $text;
  margin: 0;
}
.offset_desctiption {
  margin-top: 24px;
  @media (max-width: 545px) {
    margin-top: 1%;
    overflow-y: scroll;
    max-height: 100px;
    height: 100%;
  }
}
.sneaker_spec_wrapper {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  @media (max-width: 545px) {
    margin-top: 1%;
    gap: 1%;
  }
}
.sneaker_btn_wrapper {
  max-width: 430px;
  width: 100%;
  height: 60px;
  @media (max-width: 545px) {
    margin: 0 auto;
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .sneaker_desctiption_title {
    font-size: 1.2rem;
  }
}
@media (max-width: 577px) {
  .sneaker_desctiption_title {
    font-size: 1.2rem;
  }
}
