.quiz_question_container {
  height: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.quiz_question_container h3 {
  margin: 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--text);
}
.quiz_checkbox_wrapper {
  margin-top: 10px;
}
.quiz_question_var_1 {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 7%;
  height: auto;
}
.quiz_var_1_img_wrapper {
  width: 100%;
  height: 78%;
}
.quiz_var_1_img_wrapper img {
  object-fit: fill;
  width: 100%;
  height: 120px;
}
.quiz_question_var_2 {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 7%;
}
.quiz_question_size_wrapper {
  display: flex;
  justify-content: flex-start;
  gap: 7%;
}
.quiz_var_2_img_wrapper {
  margin-top: 20px;
}
.quiz_var_2_img_wrapper img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.quiz_question_container textarea {
  resize: none;
  height: 246px;
  width: 465px;
  margin-top: 20px;
  margin-bottom: 122px;
  padding: 20px;
  color: var(--small-text);
  border: none;
}

@media (max-width: 980px) {
  .quiz_question_container textarea {
    width: 100%;
    box-sizing: border-box;
  }
}
@media (max-width: 684px) {
  .quiz_question_var_1 {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
  }
  .quiz_question_size_wrapper {
    gap: 1%;
  }
  .custom_checkbox + label {
    font-size: 0.88rem;
  }
}
