.footer_area {
  width: 100%;
  background: var(--text);
  margin: 0 auto;
}
.footer_container {
  margin: 0 auto;
  max-width: var(--max-width-wrapper);
  width: 95%;
  display: flex;
  justify-content: space-between;
  padding: 28px 0;
}
