$max-width-wrapper: 1180px;
$font_family: 'Intro Book', sans-serif;
$second-family: 'Intro Regular', sans-serif;
$third-family: 'Intro Bold', sans-serif;

$bg: #484283;
$scarlet: #ff2400;
$accent: #f14f4f;
$text: #444b58;
$small-text: #dbbba9;
$sec-bg: #fff4ee;
$gray: #b2b5bb;
