@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import '@coreui/coreui/dist/css/coreui.min.css';
@import url('./fonts/fonts.css');

:root {
  line-height: 1.5;
  font-weight: 400;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 528px auto 80px;
  row-gap: 0;

  ::-webkit-scrollbar {
    display: none;
  }
}
button {
  border: 1px solid transparent;
}
header {
  height: auto;
}
.links_wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 680px;
  width: 100%;
  align-items: flex-start;
  gap: 40px;
  position: relative;
}
@media (max-width: 992px) {
  .links_wrapper {
    width: auto;
  }
}
