@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import '@coreui/coreui/dist/css/coreui.min.css';
@import url('./fonts/fonts.css');

:root {
  line-height: 1.5;
  font-weight: 400;
}

#root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 528px auto 80px;
  row-gap: 0;

  ::-webkit-scrollbar {
    display: none;
  }
}
button {
  border: 1px solid transparent;
}
header {
  height: auto;
}
