@use '../../_vars.scss' as *;
.contacts_area {
  width: 100%;
  background-color: #f3f6f6;
}
.contacts_container {
  margin: 0 auto;
  max-width: $max-width-wrapper;
  width: 95%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  @media (max-width: 762px) {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.contacts_info_wrapper {
  display: flex;
  flex-direction: column;
}
.contacts_wrapper {
  margin-top: 60px;
  display: flex;
  align-items: center;
  @media (max-width: 762px) {
    margin-top: 20px;
  }
}
.mp_10 {
  margin-right: 10px;
}
.contacts_map_wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}
.contacts_map_wrapper iframe {
  width: 100%;
  height: auto;
}
.contacts_info_wrapper h2,
p {
  margin: 0;
}
.contacts_title {
  font-family: $font_family;
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 140%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: $gray;
}
.round_btns_wrapper {
  margin-top: 39.79px;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  @media (max-width: 762px) {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.contacts_wrapper_div {
  position: relative;
}
.tooltip_item {
  position: absolute;
  top: 60px;
  left: 124px;
  width: 467px;
  font-family: $font_family;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: $text;
  padding: 10px 20px;
  box-shadow: 4px 8px 20px 0 rgba(0, 13, 84, 0.2);
  z-index: 100;
  box-sizing: border-box;
  border-radius: 4px;
  background: #fff;
  @media (max-width: 762px) {
    top: 0px;
    width: 400px;
  }
  @media (max-width: 590px) {
    left: 1px;
    top: -15px;
    width: 350px;
  }
}

.tooltip_item:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}

.speech:after {
  left: 10px;
  bottom: -25px;
  border: 15px solid;
  border-radius: 4px;
  border-color: #fff transparent transparent transparent;
  @media (max-width: 590px) {
    left: 133px;
    bottom: -25px;
  }
}
